*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# My settings
tornado/settings.py

# Stuff nobody needs
static/index.html
static/robots.txt
static/sitemap.xml
tornado/testing.py
static/404.html
static/50x.html

# External includes
static/js/jquery*.js
static/tinymce/
static/css/idea.css
static/js/highlight.pack.js

# Hidden files
.*
