.author_menu
{
	display:inline;
	list-style-type: none;
	padding: 0;
}
.author_menu li
{	
	display: inline-block;
}
.author_menu a:link, .author_menu a:visited
{
	margin-left: 6px;
	margin-right: 6px;
	text-align: center;
	padding: 3px;
	font-weight: bold;
	text-decoration: none;
	color: #0000FF;
}
.author_menu a:hover
{
	text-decoration: underline;
}
.author_menu a:active
{
	color: #0000AA;
}

form label
{
	width: 40px;
	margin-right: 10px;
	display: inline-block;
	text-align: right;
}
form textarea
{
	vertical-align: middle;
	width: 600px;
	height: 400px;
}
form input[type=text]
{
	width: 600px;
}
form input[type=submit]
{
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
